<mat-toolbar color="primary">
  <div style="text-align:center">
    <!-- <img width="50" alt="logo" src="/assets/img/electronlogo.png"> -->
    <img width="50" alt="logo" src="assets/horse.svg">    
  </div>
  <span style="margin-left: 1%">BetHub</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div *ngIf="isAuthenticated()">
      <!-- <div id="p1"> <p > {{accountDetails}} </p></div>  -->
    <button id="p1" mat-button style="width: 100%" disabled>Hi ! {{accountDetails}}</button>
    <button mat-button routerLink="/home/raceslist" routerLinkActive="active" style="width: 100%">Races</button>
    <!-- <button mat-button routerLink="/home/cashout" routerLinkActive="active">Cash out</button>
    <button mat-button routerLink="/home/topraces" routerLinkActive="active">Top races</button>
    <button mat-button routerLink="/home/mybets" routerLinkActive="active">My bets</button> -->
    <button mat-button (click)="doLogOut()" style="width: 100%">Log out</button>
  </div>
</mat-toolbar>
