@import "../../styles.scss";

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
        Every toolbar row uses a flexbox row layout. */
    flex: 0.87 1 auto;
}

.active {
    background-color: white !important;
    color: black;
}

#p1 {
    margin-left: -92px;
    margin-right: -18px;
    color: white;
}