<div class="scanner-container">
  <h3>Please show your QR Code</h3>
  <zxing-scanner #scanner (camerasFound)="camerasFoundHandler($event)" (scanComplete)="scanCompleteHandler($event)"></zxing-scanner>
</div>