.video {
    box-shadow: 1px 6px 10px 2px rgba(35, 35, 35, 0.62);
    height: 600px;
    max-height: 800px;
    width: 1067px;
}

.scanner-container {
    justify-content: center;
    display: grid;
    text-align: center;
}
