<div *ngIf="paymentStatus==='failed'" class="payment-message">
  Sorry, some error occurred during the payment
</div>

<div style="text-align: center; margin: 10%;">
  <button mat-raised-button color="primary" [routerLink]="['/home']">Return to home</button>
</div>