<div class="button-container">
  <button mat-raised-button color="primary" (click)="doLogIn()">Sign in</button>
  <!-- {{notAllowed}} -->
  <div *ngIf="notAllowed">
    <p style="color: red">Login not successfull please try Again !</p>
  </div>
 
</div>
