<!-- <button mat-raised-button color = "primary" (click)="addBet()">Add bet</button> -->

<mat-accordion>
    <hr class = "line-header"> 
  <mat-expansion-panel style="margin: 0 4%;">
    <mat-expansion-panel-header class = "list-header" >
      <mat-panel-title style="width: 12%">
        {{race.raceName}}
      </mat-panel-title>
        <mat-panel-description style="width: 13%">
          <!-- <span class="badge badge-success">  {{race.status}} </span> -->
           <!-- <mat-chip color="primary" selected> hhhh</mat-chip> -->
           <div>

           </div>
          <mat-chip-list>
            Starts on: <mat-chip color="primary" selected>{{ race.startTime }} </mat-chip>
          </mat-chip-list>
          
      </mat-panel-description>
      <div class="mat" style="width: 33%">
          <mat-chip-list>
                    Ends On: <mat-chip color="primary" selected>{{ race.endTime }} </mat-chip>
          </mat-chip-list>
       </div>
     

    </mat-expansion-panel-header>
  
    <div>
            <app-horse-info [horses] = "temp" [raceDetail]="race"></app-horse-info>
        <hr>
    </div>
  </mat-expansion-panel>
  </mat-accordion>
  
