<h4 mat-dialog-title>HTTP Request error</h4>

<mat-dialog-content class="mat-typography">
    <p>
        Reason: {{data.reason}}
    </p>
    <p>
        Status: {{data.status}}
    </p>
</mat-dialog-content>
<!-- <div>
  <h4>HTTP Request error</h4>
  <div>
      
  </div>
</div> -->