
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Horse Name</th>
        <th scope="col">Win Multiplier</th>
        <th scope="col">Last Five Races</th>
        <th scope="col">Enter Race</th>
        <th scope="col">Add to favourite</th>
      </tr>
    </thead>
    <tbody *ngFor ="let horse of horses">
        <app-horse-detail [horse] = "horse" [raceDetail]="raceDetail" #ref></app-horse-detail>
      <tr>
        <td> <p id= "ic4">{{horse.horse_name}}</p></td>
        <td><p id= "ic3">{{horse.win_multiplier}}</p></td>
        <td><p id= "ic2"> {{horse.last_5_races}} </p></td>
        <td ><p id="ic1">
            <button class= "centPlace" mat-raised-button color="primary"  (click)="ref.addBet()" [disabled]="ref.addedTocart" >{{ref.propertyNames.btnName}}</button>
        </p>
          </td>
        <td> <i class="material-icons" id="ic" (click)="ref.likeIt()">
            <p class = "ico">{{ref.propertyNames.iconName}}</p></i></td>
      </tr>
    </tbody>
  </table>
  
