#ic{
    fill: black;
    color: black;
    cursor: pointer;
    text-align: center;
    margin-top: 22px;

  }
  .ico {

    fill: red;
    color: red;
    text-align: center;
    width: 94px;
    
  }
  .centPlace{
    margin: 10px;
    width: 138px;
  }

  #ic1 {
    margin-left: -38px;
    margin-top: 6px
  }

  #ic2 {
    text-align: center;
    margin-left: -82px;
    margin-top: 24px;
  }
  #ic3 {
    text-align: center;   
    margin-left: -82px;
    margin-top: 26px;
  }

  #ic4 {
    text-align: center;   
    margin-left: -64px;
    margin-top: 22px;
  }


  