button.payment-button{
    width: 50%; 
    height: 30%;
    margin: 0 5%;
}

div.scanner-container {
    height: 20% !important;
    width: 40%;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 5%;
}

div.payment-message {
    text-align: center;
    font-size: larger;
    margin: 10%;
}
#b1{
    margin-left: 45%;
}

.spinner {
    margin-right: 230px;
}

#span1{
    font-weight: 500;
    font-size: 25px;
  }
