<div class="spinner"  *ngIf="showSpinner">
    <app-loading-spinner ></app-loading-spinner>
</div>
<div *ngIf="!cashVoucher && paymentStatus===false && showSpinner===false">
    <mat-grid-list cols="4" rowHeight="2:1">
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>

      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button color="primary" class="payment-button" (click)="useCashVoucher()">Use cash voucher</button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button color="primary" class="payment-button" (click)="payOnline()">Pay online</button>
      </mat-grid-tile>
    </mat-grid-list>
    <p style="text-align: center; font-size: larger;">Please make a payment of :  <span matPrefix id="span1">&#x20B9;{{actualAmount}} </span><sub>(inclusive of all taxes.)</sub></p>
    <p style="text-align: center; font-size: larger;"> You can use your cash voucher for paying the bet amount partially or completely</p>
</div>

<div *ngIf="paymentStatus===false; else info">
    <div class="scanner-container" *ngIf="cashVoucher">
        <h3 #title>Please show your Cash voucher</h3>
      <zxing-scanner #scanner (camerasFound)="camerasFoundHandler($event)" (scanComplete)="scanCompleteHandler($event)"></zxing-scanner>
    </div>
</div>

<div class="payment-message" [innerHTML]="paymentMessage">
    <!-- {{}} -->
</div>

      
        <!-- <div id="print-section">
                {{paymentId}} <br>
                {{actualAmount}}
              </div> -->
              <div id="b1" *ngIf="paymentStatus">
                <button mat-raised-button color="primary" style="margin-top: 5%;" (click)="onprint()">Print Receipt</button>
              </div>
        
        <!-- <button class="btn btn-primary" id="b1" (click)="onprint()" >Print Receipt</button> -->
        <!-- <button mat-raised-button color="primary" style="margin-top: 5%;" id="b1" (click)="onprint()" >Print Receipt</button> -->


<div *ngIf="confirmButton"  style="text-align: center; margin: 10%;">
    <button mat-raised-button color="primary" style="margin: 0% 3%; width: 20%;" (click)="useCashVoucherUtil()">Yes</button>
    <button mat-raised-button color="primary" style="margin: 0% 3%; width: 20%;" (click)="doNotUseCashVoucherUtil()">No</button>
</div>
<!-- <div *ngIf="paymentStatus==='failed'" class="payment-message">
    Sorry, some error occurred during the payment
</div> -->
<!-- Congratulations! Your order is successful. Your payment ID is <b>{{orderId}}</b> -->