<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav right" #left position="end" [fixedInViewport]="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <!-- <mat-toolbar class="mat-primary bet-slip-toolbar">Bet slip</mat-toolbar> -->
    <mat-toolbar class="mat-primary bet-slip-toolbar">    <span [matBadge]="showNoOfBets()" matBadgeOverlap="false">Bet slip</span> </mat-toolbar>
    <mat-grid-list cols="1" rowHeight="2:1">
      <mat-card *ngFor="let bet of bets">
        <app-my-bets [bet] = "bet" ></app-my-bets>
      </mat-card>
    </mat-grid-list>
    <button mat-raised-button color="primary" *ngIf="bets.length>0" class="submit-button-style" (click)="placeBet()">Checkout 
      <div id="a1" *ngIf="betAmount>0">Total Amount = &#x20B9; {{betAmount}}</div>  </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <!-- <mat-toolbar class="example-footer">Footer</mat-toolbar> -->
  </mat-sidenav-content>
</mat-sidenav-container>
