@import "../../styles.scss";

.sidenav-container {
  /* height: 100%; */
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.sidenav {
  width: 200px;
  top: 60px !important;
}

.sidenav .mat-toolbar {
  background: inherit;
  justify-content: center;
}

.mat-toolbar.mat-primary {
  position: sticky; 
  top: 0;
  z-index: 1;
}

.bet-slip-toolbar {
  color: black;
  background-color: #fafafa !important;
}

.mat-card {
  margin: 10%;
  border: 2px solid #{$primary-color};
}

.mat-list-item.center{
  display: flex;
  justify-content: center;
}

.card-button {
  font-size: 10px;
  width: 50%;
}

.mat-sidenav.left {
  width: 15%;
}

.mat-sidenav.right {
  width: 25%;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

// .example-header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
// }

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.active {
  background-color: #{$primary-color} !important;
  color: white;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.submit-button-style {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
}

#button1[type="button"] {
  margin-left: -88px;
  height: 25px;
  width: 22px;
  background: rgb(103, 58, 183);
  color: white;
  border: 0;
  -webkit-appearance: none;
  transition: all 0.3s ease 0s;
}
#button2[type="button"] {
  margin-left: 0px;
  height: 25px;
  width: 39px;
  background: #4041a9f7;
  color: white;
  border: 0;
  -webkit-appearance: none;
}
#button3[type="button"] {
  margin-left: 0px;
  height: 25px;
  width: 22px;
  background: rgb(103, 58, 183);
  color: white;
  border: 0;
  -webkit-appearance: none;
  // border-radius: 12px;
  transition: all 0.3s ease 0s;
}

#button3:hover {
  background-color: rgb(100, 122, 219);
  box-shadow: 0px 15px 20px rgba(102, 134, 219, 0.76);
  color: #fff;
  transform: translateY(-7px);
}

#button1:hover {
  background-color: rgb(100, 122, 219);
  box-shadow: 0px 15px 20px rgba(102, 134, 219, 0.76);
  color: #fff;
  transform: translateY(-7px);
}

#button4[type=number]::-webkit-inner-spin-button, 
#button4[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}
#span1{
  margin: 0px;
}

#a1{
  margin: -3px;
  margin-top: -20px;
  font-weight: bolder;
}
