<mat-card-header>
  <mat-card-title>{{bet.value.horse_name}}</mat-card-title>
  <mat-card-subtitle>{{bet.value.race_name}}</mat-card-subtitle>
</mat-card-header>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input id ="button4" (keyup)="onKeyPress($event)"  required matInput type="number" placeholder="Bet amount" min= "0" #ref>
    <span matPrefix ><img id="span1" src="https://img.icons8.com/windows/32/000000/rupee.png">&nbsp;</span> 
    <button id ="button1" type="button" (click)="onAdd(ref)"
    [disabled] ="amount < 0">+</button>
    <button id ="button2" type="button" disabled>100</button>
    <button id ="button3" type="button" (click)="onSub(ref)" 
    [disabled] ="amount<100">-</button>
  </mat-form-field>
</form>
<mat-card-actions>
  <!-- <button mat-button class="card-button" (click)="saveValue(i)">Save</button>                -->
  <button mat-button class="card-button" (click)="removeBet()">Remove</button>
</mat-card-actions>