
<div class="">
  <div class="col-xs-12">
    <h6> Congratulations you have made a payment and details are given below: </h6>
    <ul>
      
      <li>
      Payment Id:&nbsp;&nbsp;&nbsp;&nbsp; {{id}}
      </li>
      <li>
      Payer Id: &nbsp;&nbsp;&nbsp;&nbsp; {{player}}
      </li>
    </ul>
  </div>
</div>
